body{
    background-color: antiquewhite;
}

.game_image1{
    width:55%;
    height:45%;
    margin-top: 100px;
    margin-left: 120px;
}

.game_image2{
    width:55%;
    height:45%;
    margin-top: 100px;
    margin-left: 80px;
}

.highscores1{
    background: white;
    margin-left: 120px;
    width: 55%;
}

.highscores2{
    background: white;
    margin-left: 80px;
    width: 55%;
}

.login{
    margin-top: 100px;
}

.loginheader{
    font-size: 18px;
    margin: 0px;
    font-family: Gadugi;
}

.logintext{
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
    font-family: Gadugi;
}

.main {
    background-color: antiquewhite;
    font-family: Gadugi;
    font-size: 15px;
}

.navigation {
    background-color: azure;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation_text {
    font-size: 20px;
    margin: 0px;
    font-family: Gadugi;
    text-align: center;
}

.no_padding {
    padding: 0px;
}

.search_text{
    background-color: white;
    font-family: Gadugi;
    font-size: 15px;
    color:lightgrey;
    margin: 0px;
}

.space{
    background: antiquewhite;
    height: 20px;
}