<!DOCTYPE html>
<html>
	<head>
		<base href="/">

		<!-- JScript libraries -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js"></script>

	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.tpls.min.js"></script>

	    <!-- CSS libraries -->
	    <!-- <link rel="stylesheet" href="https:////code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-toastr/2.1.1/angular-toastr.min.css">

	    <!-- Include our JS files -->
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/utility/UID.js"></script>
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/utility/engine.js"></script>
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/snake_game/snake.js"></script>
	    
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/angular/app.js"></script>
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/angular/indexController.js"></script>
	    <script src="C:/Users/eforsber/Desktop/swedegameing/SwedeGaming/public/js/angular/snakeGameController.js"></script>


	    <!-- Include our style sheets -->
	    <link rel="stylesheet" type="text/css" href="../style/main.css">

		<title>
			Swede Gaming SNAKEY
		</title>
	</head>

	<body ng-app="swedeGaming">
<div class="snake-game-container" ng-controller="snakeGameController">

	<canvas id="snake-canvas" style="border: 1px gray solid; float: left" tabindex="1" ng-keypress="runSearchKeyPress($event)"></canvas>

</div>


	</body>

</html>